.container {
    max-width: 1200px;
    min-width: 360px;
}

.title {
    text-align: center;
}

.two {
    background: rgb(235, 239, 26);
    width: 150px;
    font-size: 28px;
}

.three {
    border: 3px solid rgb(59, 70, 219);
}

.toggle {
    margin-top: 30px;
}

